.navContainer{
    display:flex;
    position:fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height:100vh;
    width:20%;
    left:0;
    background:transparent;
      
    

}

.navItem{
    display: flex;
    align-items: center;
    margin: 1em 0 0 1em;
    font-size: 20px;
    font-weight: bold;
    background-color: hsl(37.44,59.11%,70.12%);
    color: black;
    border-radius: 10px;
    padding: 5px;

    width:8em;
    
}

.navItem>span{
    text-decoration: none;
    color: inherit;
    margin-left:1em;
    
} 


