#projectsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    

    width:100%;
    
    
    padding:0 10% 0 10%;
    background: transparent;


  
}
#allProjects{
    display: flex;
    width:90%;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    
    border:solid rgb(158, 14, 14) 1px;
}