#footerHR{
    margin-top: 100px;
    width:90%;
}


#footerStuff{
    width:90%;
    display:flex;
    align-items: center;
    justify-content: center;

    font-family: 'Times New Roman', Times, serif;
}

#footerStuff>span{
    font-style: italic;

}
