.project{
    display:flex;
    flex-direction: column;
    border:solid black 2px;
    border-radius: 10px;
    padding:20px;
    height: 30%;
    width: 25%;
    
}

.projectRedirect{
    margin-left:auto;
    background-color: hsl(37.44,59.11%,70.12%);
    border-radius: 10px;
    font-size: 15px;
    right: 0;

    border:none;
}

.projectRedirect::hover{
    background-color: hsl(37.44,59.11%,60.12%);
    backdrop-filter: blur(5px);
    cursor: pointer;
}

hr{
  height: 1px;
  background: #000;
  border: none;
  width: 100%;
  margin-bottom: 20px;
}