.project{
    display:flex;
    flex-direction: column;
    border:solid var(--borderColor) 2px;
    border-radius: 10px;
    padding:20px;
    height: fit-content;
    min-width: 150px;
    max-width:312px;
    width: 25%;
    
}

.projectRedirect{
    margin-left:auto;
    background-color: var(--secondary1);
    border-radius: 10px;
    font-size: 15px;
    right: 0;
    padding:0.5em;

    border:none;
}

.projectRedirect::hover{
    
    backdrop-filter: blur(5px);
    cursor: pointer;
}

hr{
  height: 1px;
  background: var(--textColor);
  border: none;
  width: 100%;
  margin-bottom: 20px;
}

@media (width>768px){

}