.refCard > img{
    aspect-ratio: 1/2;
    height: 16em;
    border-radius: 10%;
}

.refCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(47, 47, 47, 0.59);
    border-radius: 10px;
    background-color: var(--card);
    min-width: 150px;;
    width:25%;
    color:var(--cardText);
   
    

}
.refCard>button{
    padding: 8px 16px;   
    
    background-color: var(--secondary1);
    color: var(--textColor);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}




