
#contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
 
    min-width:30px; /*CONFIGURE THIS*/
    width:75vw;
    height:100vh;
    
    
    text-align: left;
    padding:0 10% 0 10%;
    background: transparent;
}

#formContainer{

    width:70vw;
    height:80vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#user_message, #message{
    width:90%;
    min-width: 200px;
    max-width:600px;
    height:30px;

    border-radius: 10px;
    margin-bottom:10px;
    padding:10px;
}

#contactForm>button{
    height:40px;
    margin-bottom: 90px;
    border-radius: 10px;
    border:0.5px solid var(--borderColor);

}
label{
    font-weight:bold ;
}

#contactForm>.contactInput{
    width:90%;
    min-width: 200px;
    max-width:600px;
    height:20px;
    border-radius: 10px;
    border:0.5px solid var(--borderColor);
    padding:10px;

}
#sendStatus{
    font-size: large;
    background-color: var(--secondary2);
    backdrop-filter: blur(20px);
    padding:10px;
    color: var(--textColor);
    width:90%;
    max-width:500px;
    border-radius: 10px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;

    opacity: 0;

    transition: opacity 0.8s cubic-bezier(0.22, 1, 0.36, 1);
}

#sendStatus.sent{
    opacity: 1;
}

@media (width<768px){
    #contact{
        margin-top: 3em;
    }

    #formContainer{
        margin-top: -60px;
    }

}