
#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    min-width:30px; /*CONFIGURE THIS*/
    max-width: (77vw,1366px);
    height:100vh;
    
    text-align: left;
    padding:0 10% 0 10%;
    background: transparent;
  
}

#homeSection> h1{
  margin-bottom:0;
}

#secondary{
    
    color:var(--colorSecondary);
}


