
#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    min-width:30px; /*CONFIGURE THIS*/
    max-width: (77vw,1366px);
    height:100vh;
    
    text-align: left;
    padding:0 10% 0 10%;
    background: transparent;
  
}

#homeSection> h1{
  margin-bottom:0;
}

.cert{
  background-color: hsl(43, 53%, 24%);
  width:20%;
  min-width: 150px;
  max-width: 200px;
  border-radius: 10px;
  padding-left: 5px;
  padding-top:2px;
  padding-bottom: 2px;
  padding-right: 0px;
  color:var(--textColor);
  display:flex;
  
}
@media (prefers-color-scheme: light){
  .cert{
    background-color: var(--secondary1);
  }
}

.cert:hover{
  cursor: pointer;
}

.certArrCont{

  border-left: 1px solid grey;
  margin-right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}




#secondary{
    
    color:var(--colorSecondary);
}


